.hos-sect {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding-top: 6rem;
  background-color: #eee;
  /* padding-left: 20px; */
  /* padding-right: 20px; */
}
.grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.grid:hover {
  box-shadow: inset 0 0 0 1000px rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 3px;
  transition: all 0.5s;
}
.grid img {
  width: 40%;
}
@media screen and (max-width: 900px) {
  .hos-sect {
    grid-template-columns: repeat(3, 200px);
  }
}
@media screen and (max-width: 600px) {
  .hos-sect {
    grid-template-columns: repeat(2, 150px);
  }
}
